*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "oswald",monospace;
}
header{
    padding:2px 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:transparent;
}
body
{
    background: rgb(14, 13, 13)  ;
    width: 100%;

    display: block;
    position: relative;
    background-position: cover;
}
.lines
{
    margin-top: 180px ;
    
}
.logo{
    cursor: pointer;
    margin-right: auto ;
    width: 70px;
}
  li,a,button{
      font-weight: 500;
      font-size: 19px;
      text-decoration: none;
      color:cornsilk;
  } 
 nav ul li{
     display: inline-block;
     padding: 0px 35px;
 } 
 nav ul li a{
       color: white;
 }
 nav ul li a:hover{
     color:greenyellow;
 }
 header >button{
     padding:4px 20px;
     background-color: darkcyan;
     border-radius: 50px;
     border:none;
     cursor: pointer;
 }
 header >button:hover{
     background-color: palevioletred;
 }
 .wrap{
   
    z-index: 1;
 }
 .content{
    display:flex;
    padding: 100px 10%;
    justify-content: space-between;
    
    color: whitesmoke;
 }
 .content img{
     margin-top: 150px;
      width:40%;
      border-radius: 20px;
      box-shadow: 0 0 9px #ccc;
      
 }
 .lines h1{
     font-size: 60px;
     color:rgb(223, 9, 9);
 }
 .lines p{
     font-size: 20px;
     margin: 20px 0;
     font-weight:400 ;
     line-height: 2;
 }
 .lines h3{
      font-size: 35px ;
      margin-bottom: 10px;
      color:greenyellow;
 }
.btn{
    display:inline-block;
    font-weight: 400;
    color:rgb(16, 16, 190);
    text-align:center;
    border:1px solid transparent;
    border-radius: 40px;
    box-shadow:0 0 7px rgb(253, 104, 253);
    padding: 4px 30px;
    background-color:rgb(255, 70, 101);
    cursor: pointer;
    margin-top: 5px;
}
.btn:hover{
    background-color:floralwhite;
}
.ani{
    animation-name: smart;
    animation-duration: 5S;
    animation-iteration-count:infinite;
}
img:hover
    {
        transform: translate(10px);
        
    }

@keyframes smart{
    0%{
        color:rgb(224, 20, 20); 
    }
    20%{
        color:rgb(216, 207, 207);
    }
    40%{
    color: rgb(187, 3, 132);
  }
    60%{
        color:rgb(0, 160, 223);
    }
    80%{
        color: orangered;
    }
    100%{
        color:springgreen;
    }
}
@media screen and (max-width: 700px) {
  
    .content {
       
        display: grid;
        
    }
    .content img 
    {
          width: 400px;
          height: 400px;
          
    }
    img:hover
    {
        transform: translateY(-10px);

    }


  }
